.wrapper {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: translateY(-5vh);
  --w: min(30vw, 30vh);
  --h: min(45vw, 45vh);
  --translateZ: calc((var(--w) + var(--h)) / 2);
  --rotateX: -15deg;
  --perspective: 200rem;
  --after-bottom: calc(80vh - var(--h) / 2);
}
.wrapper::after {
  content: "";
  position: absolute;
  width: calc(var(--translateZ) * 3);
  height: calc(var(--translateZ) * 0.7);
  top: var(--after-bottom);
  left: 50%;
  transform: translateX(-50%);
  background: url("../assets/portfolio-foto/dots2-resize.png") no-repeat center
    bottom/contain;
  filter: grayscale(20%);
  z-index: -1;
}
.inner {
  --w: min(30vw, 30vh);
  --h: min(45vw, 45vh);
  --translateZ: calc((var(--w) + var(--h)) / 2);
  --rotateX: -15deg;
  --perspective: 200rem;
  position: absolute;
  width: var(--w);
  height: var(--h);
  transform-style: preserve-3d;
  transform: perspective(var(--perspective));
  animation: rotating 20s linear infinite;
}
.card {
  position: absolute;
  border: 2px solid rgb(3, 3, 3);
  border-radius: 1rem;
  overflow: hidden;
  inset: 0;
  transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
    translateZ(var(--translateZ));
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  mix-blend-mode: screen;
  filter: grayscale(80%);
  &:hover {
    opacity: 1;
    filter: none;
  }
}
.img1 {
  background: url("../assets/projects/1.png") center/cover;
}
.img2 {
  background: url("../assets/projects/2.png") center/cover;
}
.img3 {
  background: url("../assets/projects/3.png") center/cover;
}
.img4 {
  background: url("../assets/projects/4.png") left/cover;
}
.img5 {
  background: url("../assets/projects/5.png") center/cover;
}

@keyframes rotating {
  from {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(0);
  }
  to {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(1turn);
  }
}

@media (max-width: 480px) {
  .wrapper,
  .inner {
    --after-bottom: calc(65vh - var(--h) / 2);
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .wrapper,
  .inner {
    --after-bottom: calc(73vh - var(--h) / 2);
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .wrapper,
  .inner {
    --after-bottom: calc(74vh - var(--h) / 2);
  }
}
@media (min-width: 993px) and (max-width: 1300px) {
  .wrapper,
  .inner {
    --after-bottom: calc(75vh - var(--h) / 2);
  }
}
