.scene {
  perspective: 400vmin;
  transform-style: preserve-3d;
  position: absolute;
  width: 60vmin;
  height: 60vmin;
  top: 20vmin;
  align-self: center;
  justify-self: center;
}

.sphere {
  transform-style: preserve-3d;
  position: absolute;
  animation: rotate 20s infinite linear;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
  top: 0;
  left: 0;
}

.scene::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: radial-gradient(
      circle farthest-corner at 33% 33%,
      rgba(240, 240, 220, 0.85) 0%,
      rgba(30, 30, 40, 0.85) 80%
    ),
    radial-gradient(
      circle farthest-corner at 45% 45%,
      rgba(0, 0, 0, 0) 50%,
      #000000 80%
    );
  border-radius: 50%;

  transform: translateZ(1.5vmin);
}

.scene:hover::before {
  display: none;
}

.hemisphere {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  transform: rotateX(90deg);
}

.hemisphere:nth-child(2) {
  transform: rotateX(-90deg);
}
.face {
  color: #b2823c;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 49%,
    rgb(64, 64, 64) 49.2%,
    rgb(64, 64, 64) 49.4%,
    rgba(0, 0, 0, 0) 49.6%
  );
  transform-style: preserve-3d;
  transform-origin: 50% 0;
  top: 50%;
  left: 15vmin;
}

.face::before,
.face::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
}

.face::before {
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  border: 1px solid #24160a;
  background: #24160a;
  transform: translateZ(1.2vmin);
}

.face::after {
  width: 20%;
  height: 20%;
  top: 40%;
  left: 40%;
  background: hsla(28, 95%, 60%, 0.116);
  /* background: rgba(0, 0, 0, 0.2);  */
  transform: translateZ(2.1vmin);
}

.face:nth-child(1) {
  transform: translateZ(-31.2vmin) rotateZ(36deg) translateY(-5.1vmin)
    rotateX(143deg);
}

.face:nth-child(2) {
  transform: translateZ(-31.2vmin) rotateZ(108deg) translateY(-5.1vmin)
    rotateX(143deg);
}

.face:nth-child(3) {
  transform: translateZ(-31.2vmin) rotateZ(180deg) translateY(-5.1vmin)
    rotateX(143deg);
}

.face:nth-child(4) {
  transform: translateZ(-31.2vmin) rotateZ(252deg) translateY(-5.1vmin)
    rotateX(143deg);
}

.face:nth-child(5) {
  transform: translateZ(-31.2vmin) rotateZ(-36deg) translateY(-5.1vmin)
    rotateX(143deg);
}

.face:nth-child(6) {
  transform: translateZ(-20.1vmin) rotateZ(36deg) translateY(-24.9vmin)
    rotateX(100deg);
}

.face:nth-child(7) {
  transform: translateZ(-20.1vmin) rotateZ(108deg) translateY(-24.9vmin)
    rotateX(100deg);
}

.face:nth-child(8) {
  transform: translateZ(-20.1vmin) rotateZ(180deg) translateY(-24.9vmin)
    rotateX(100deg);
}

.face:nth-child(9) {
  transform: translateZ(-20.1vmin) rotateZ(252deg) translateY(-24.9vmin)
    rotateX(100deg);
}

.face:nth-child(10) {
  transform: translateZ(-20.1vmin) rotateZ(-36deg) translateY(-24.9vmin)
    rotateX(100deg);
}

.face:nth-child(11) {
  transform: translateZ(-20.1vmin) rotateZ(36deg) translateY(-24.9vmin)
    rotateX(100deg);
}

@keyframes rotate {
  0% {
    transform: rotateZ(25deg) rotateX(20deg) rotateY(0deg);
  }
  50% {
    transform: rotateZ(-25deg) rotateX(-20deg) rotateY(180deg);
  }
  100% {
    transform: rotateZ(25deg) rotateX(20deg) rotateY(360deg);
  }
}
